# Private key to deploy the test settlement contract with and transfer the NFT from
PRIVATE_KEY=

# The address that you're testing against
TOKEN_ADDRESS=

# The token ID of the NFT you're testing against
TOKEN_ID=

# Just use the one you use for deployment if you don't care about the recipient
RECIPIENT_ADDRESS=

# Chain params
ETH_GAS_PRICE=20000000000
ETH_PRIORITY_GAS_PRICE=10000000000
